@import url(slider.css);
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans" !important;
}
body h2 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 30px;
}
body p {
  font-size: 1.1rem;
  line-height: 1.629rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
  margin: 20px 0;
}

.main {
  height: 900px;
  width: 100%;
  float: left;
  position: relative;
  margin-top: -20px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../img/bg.jpg);
  font-family: "Open Sans";
}
header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent, #000);
  background-image: linear-gradient(transparent, #000);
}
header .top {
  width: 100%;
  float: left;
  padding-bottom: 30px;
}
header .top h1 {
  float: left;
  color: #FFF;
  font-weight: 300;
  margin: 50px 0 0;
  -webkit-transition: 500ms all ease-in-out;
  -moz-transition: 500ms all ease-in-out;
  transition: 500ms all ease-in-out;
}
header .top nav {
  float: right;
  margin-top: 60px;
  -webkit-transition: 500ms all ease-in-out;
  -moz-transition: 500ms all ease-in-out;
  transition: 500ms all ease-in-out;
}
header .top nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .top nav ul li {
  float: left;
  margin-right: 30px;
}
header .top nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-weight: 300;
}
header .screen {
  width: 500px;
  height: 333px;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 300px;
  top: 300px;
  -webkit-transform: matrix3d(1.08757, -0.31115, 0, 0.00024, 0.28328, 1.13662, 0, 0.00012, 0, 0, 1, 0, 18, 75, 0, 1);
  -moz-transform: matrix3d(1.08757, -0.31115, 0, 0.00024, 0.28328, 1.13662, 0, 0.00012, 0, 0, 1, 0, 18, 75, 0, 1);
  -ms-transform: matrix3d(1.08757, -0.31115, 0, 0.00024, 0.28328, 1.13662, 0, 0.00012, 0, 0, 1, 0, 18, 75, 0, 1);
  -o-transform: matrix3d(1.08757, -0.31115, 0, 0.00024, 0.28328, 1.13662, 0, 0.00012, 0, 0, 1, 0, 18, 75, 0, 1);
  transform: matrix3d(1.08757, -0.31115, 0, 0.00024, 0.28328, 1.13662, 0, 0.00012, 0, 0, 1, 0, 18, 75, 0, 1);
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}

.about {
  background-color: #f1f1f1;
  padding: 100px 0;
  float: left;
  width: 100%;
  position: relative;
}
.about img {
  width: 130px;
  position: absolute;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  left: 50%;
  top: -65px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 5px solid #f1f1f1;
  -webkit-transition: 200ms all ease-in-out;
  -moz-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}
.about img:hover {
  -webkit-transform: translateX(-50%) scale(1.1) rotate(10deg);
  -moz-transform: translateX(-50%) scale(1.1) rotate(10deg);
  -ms-transform: translateX(-50%) scale(1.1) rotate(10deg);
  -o-transform: translateX(-50%) scale(1.1) rotate(10deg);
  transform: translateX(-50%) scale(1.1) rotate(10deg);
}
.about img.visible {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: 800ms all cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 800ms all cubic-bezier(0.19, 1, 0.22, 1);
  transition: 800ms all cubic-bezier(0.19, 1, 0.22, 1);
}
.about h2 {
  margin-bottom: 40px;
  margin-top: 30px;
}

.work {
  width: 100%;
  float: left;
  padding: 100px 0;
}
.work h2 {
  margin-bottom: 50px;
}
.work ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.work ul li {
  float: left;
  width: 50%;
  -webkit-transition: 500ms all ease-in-out;
  -moz-transition: 500ms all ease-in-out;
  transition: 500ms all ease-in-out;
  position: relative;
  height: 300px;
}
.work ul li .effect {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #34495e;
  background-image: -webkit-linear-gradient(-225deg, #34495e 0%, #cc6055 100%);
  background-image: linear-gradient(-45deg,#34495e 0%, #cc6055 100%);
  z-index: 999;
  opacity: 0.3;
  -webkit-transition: 400ms all ease-in-out;
  -moz-transition: 400ms all ease-in-out;
  transition: 400ms all ease-in-out;
}
.work ul li .image {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.work ul li .image img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2) translate(0px, 0px);
  -moz-transform: scale(1.2) translate(0px, 0px);
  -ms-transform: scale(1.2) translate(0px, 0px);
  -o-transform: scale(1.2) translate(0px, 0px);
  transform: scale(1.2) translate(0px, 0px);
  -webkit-transition: 400ms all ease-in-out;
  -moz-transition: 400ms all ease-in-out;
  transition: 400ms all ease-in-out;
}
.work ul li .info {
  padding: 10px;
  position: absolute;
  opacity: 0;
  z-index: 999;
  -webkit-transition: 400ms all ease-in-out;
  -moz-transition: 400ms all ease-in-out;
  transition: 400ms all ease-in-out;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work ul li .info h3 {
  margin: 0;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 200;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}
.work ul li .info h3 span {
  font-weight: 600;
}
.work ul li .info p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  bottom: 30px;
  border: 3px solid #fff;
  padding: 10px;
  width: 80%;
  text-align: center;
  margin-left: 8%;
}
.work ul li:hover {
  cursor: pointer;
}
.work ul li:hover .effect {
  opacity: 0.8;
}
.work ul li:hover .image img {
  -webkit-transform: scale(1.8) translate(20px, 10px);
  -moz-transform: scale(1.8) translate(20px, 10px);
  -ms-transform: scale(1.8) translate(20px, 10px);
  -o-transform: scale(1.8) translate(20px, 10px);
  transform: scale(1.8) translate(20px, 10px);
}
.work ul li:hover .info {
  opacity: 1;
}

.contact {
  width: 100%;
  float: left;
  background-color: #1C2833;
  padding: 100px 0;
}
.contact h2 {
  color: #FFF;
}
.contact form {
  width: 80%;
  margin: 80px auto;
}
.contact form input, .contact form textarea {
  width: 100%;
  float: left;
  padding: 15px;
  margin-bottom: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline-style: none;
  font-size: 19px;
  font-weight: 300;
  font-family: "Open Sans";
  color: #FFF;
  -webkit-transition: 100ms all ease-in-out;
  -moz-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}
.contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.contact form input:-moz-placeholder, .contact form textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.contact form input:hover, .contact form textarea:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.01);
}
.contact form input:focus, .contact form textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.02);
}
.contact form button {
  margin: 0 auto;
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 15px 100px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 300ms all ease-in-out;
  -moz-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}
.contact form button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=master.css.map */
